<div class="container">	
	<form name="myForm" class="form-horizontal">
		<div class="form-group" ng-class="{'has-error': myForm.name.$invalid && !myForm.name.$pristine}">
			<label for="name" class="control-label col-sm-2">Name</label>
			<div class="col-sm-4">
				<input class="form-control" id="name" type="text" name="name" ng-model="editProject.project.name" required>
				<span ng-show="myForm.name.$error.required && !myForm.name.$pristine" class="help-block">
					Required {{!myForm.name.$pristine}}
				</span>
			</div>			
		</div>
		<div class="form-group" ng-class="{'has-error': myForm.site.$invalid && !myForm.site.$pristine}">
			<label for="site" class="control-label col-sm-2">Website</label>
			<div class="col-sm-4">
				<input class="form-control" id="site" type="url" name="site" ng-model="editProject.project.site" required>
				<span ng-show="myForm.site.$error.required && !myForm.site.$pristine" class="help-block">
					Required {{!myForm.site.$pristine}}
				</span>
				<span ng-show="myForm.site.$error.url && !myForm.site.$pristine" class="help-block">
					Not valid url!
				</span>
			</div>	
		</div>
		<div class="form-group">
			<label for="description" class="control-label col-sm-2">Description</label>
			<div class="col-sm-4">
				<textarea class="form-control" name="description" ng-model="editProject.project.description"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-4">
				<a href="#/" class="btn btn-default">Back</a>
				<button ng-click="editProject.save()" ng-disabled="myForm.$invalid" class="btn btn-primary">Save</button>
				<button ng-click="editProject.destroy()" ng-show="editProject.project.id || editProject.project.id === 0" class="btn btn-danger">Delete</button>
			</div>
		</div>
	</form>
</div>