<input type="text" ng-model="projectList.search" class="search-query" id="projects_search" placeholder="Search">
<table>
	<thead>
	<tr>
		<th>Project</th>
		<th>Description</th>
		<th><a href="#/new"><i class="fa fa-plus-circle"></i></a></th>
	</tr>
	</thead>
	<tbody>
		<tr ng-repeat="project in projectList.projects | filter:projectList.search | orderBy:'name'">
			<td><a ng-href="{{project.site}}" target="blank">{{project.name}}</a></td>
			<td><a>{{project.description}}</a></td>
			<td><a ng-href="#/edit/{{project.id}}"><span class="fa fa-pencil" aria-hidden="true"></span></a></td>
		</tr>
	</tbody>
</table>