<div class="container">
	<div class="row">
		<div class="col-xs-11">
			<div class="form-group has-feedback">
				<label class="control-label" for="projects_search"></label>
				<input type="text" ng-model="projectList.filter.search" class="form-control search-query" id="projects_search" placeholder="Search" aria-describedby="projects_searchStatus">
				<span class="fa fa-search form-control-feedback" aria-hidden="true"></span>
				<span id="projects_searchStatus" class="sr-only">(search)</span>
			</div>
		</div>
		<!--
		<div class="col-xs-2">
			<div class="form-group has-feedback">
				<ul dnd-list dnd-drop="onDropTrash(list, item, index)">
					<span class="glyphicon glyphicon-trash project-trash-icon" aria-hidden="true"></span>
				</ul>
			</div>
		</div>-->
	</div>
	<!-- Uncomment this to show the original table
		<div class="table-responsive multiDemo">
	-->
	<div class="multiDemo">
		<!-- Uncomment this to show the original table
		<table class="table table-hover">
			<thead>
			<tr>
				<th>Project</th>
				<th>Description</th>
				<th><a href="#/new"><i class="fa fa-plus-circle"></i></a></th>
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="project in projectList.projects | filter:projectList.filter.search | orderBy:'name'">
					<td><a ng-href="{{project.site}}" target="blank">{{project.name}}</a></td>
					<td><a>{{project.description}}</a></td>
					<td><a ng-href="#/edit/{{project.id}}"><span class="fa fa-pencil" aria-hidden="true"></span></a></td>
				</tr>
			</tbody>
		</table>-->
		<!--<ul dnd-list dnd-drop="onDrop(projectList.projects, item, index)">
		    <li ng-repeat="project in projectList.projects.items"
		        dnd-draggable="getSelectedItemsIncluding(projectList.projects, project)"
		        dnd-dragstart="onDragstart(projectList.projects, event)"
		        dnd-moved="onMoved(projectList.projects)"
		        dnd-dragend="projectList.projects.dragging = false"
		        dnd-selected="project.selected = !project.selected"
		        ng-class="{'selected': project.selected}"
		        ng-hide="projectList.projects.dragging && project.selected"
		        >
		        {{project.name}}
		    </li>
		</ul>-->
		<div ng-repeat="list in models">
			<br/><br/>
			<div class="form-group has-feedback row" dnd-list dnd-drop="onDropTrash(list, item, index)">
				<span class="glyphicon glyphicon-trash project-trash-icon pull-right col-xs-1" aria-hidden="true"></span>
			</div>
			<ul dnd-list dnd-drop="onDrop(list, item, index)">
			    <li ng-repeat="item in list.items | filter:projectList.filter.search | orderBy:'name'"
			        dnd-draggable="getSelectedItemsIncluding(list, item)"
			        dnd-dragstart="onDragstart(list, event)"
			        dnd-moved="onMoved(list)"
			        dnd-dragend="list.dragging = false"
			        dnd-selected="item.selected = !item.selected"
			        ng-class="{'selected': item.selected}"
			        ng-hide="list.dragging && item.selected"
			        >
			        <div class="row">
			        	<div class="col-xs-3"><a ng-href="{{project.site}}" target="blank">{{item.name}}</a></div>
			        	<div class="col-xs-8">{{item.description}}</div>
			        	<div class="col-xs-1"><a ng-href="#/edit/{{item.id}}"><span class="fa fa-pencil" aria-hidden="true"></span></a></div>
			        </div>
			        
			    </li>
			</ul>
		</div>




	</div>
</div>